html, body, #root, .App {
  min-height: 100%;
  height: auto;
}

body {
  background-color: black;
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(45,55,75,1) 100%);
}

.dashboard-wrapper {
  background-position: bottom center;
  background-attachment: fixed;
  background-image: url(stars.png);
}

/* Dashboard route */

.dashboard {
  padding-top: 50px;
  background-image: url(stars.png);
}

.loading-launches {
  color: white;
}

.launch-title, .launch-icon {
  display: inline-block;
}

.launch-title {
  color: white;
}

.launch-icon {
  margin: 10px;
}

.card {
  padding: 20px;
  margin: 30px 0;
  background-color: white;
  transition: transform .3s, box-shadow 0.3s;
}

.card:hover {
  cursor: pointer;
  transform: translate(10px, -10px);
  -webkit-box-shadow: -10px 10px 0px 0px rgba(70, 77, 90, 0.7);
  box-shadow: -10px 10px 0px 0px rgba(70, 77, 90, 0.7);
}

.launchDate {
  font-style: italic;
  text-align: right;
}

/* Mission route */
.mission {
  padding: 10vh 0;
}
